/* Orange Colors */

body  { color: #424242; background-color: #f8f2ea; }
h1, h2, h3, h4, h5, h6, .post .title a:link, .post .title a:visited  { color: #222; }
a:link, a:visited, .nocomments  { color: #ff8a00; }

#main-nav a:hover, #main-nav li.current-cat a, #main-nav li.current-cat a, #main-nav a:hover, #main-nav li.current_page_item a, #main-nav li.current_page_parent a  { border-bottom-color: #ff8a00; }

.nav-entries a, .post-entries a, .wp-pagenavi span.extend, .wp-pagenavi span.pages, .widget_recent_comments li a, .widget_woo_twitter a, .widget_tag_cloud div a, #tabs .inside #tab-tags a:hover { color:#ffb864!important; }
.widget h3, #tabs ul.wooTabs li a.selected, #tabs ul.wooTabs li a:hover, #tabs .inside  { background-color: #ffb864; }
.wp-pagenavi .current, .wp-pagenavi .on, .wp-pagenavi a:hover  { background: #ffb864!important; }
#main-nav a, .widget_woo_flickr a:hover img  { border-color: #ffb864; }

.widget h3 span  { background-image: url(orange/bg-widget-h3.png); }

#footer-widgets, #comments .comment.thread-even .comment-container, .advert-content  { border-color: #e0c49f; background-color: #ecddc9; }
#footer  { border-color: #d3a669; color:#c28d45; background-color: #e0c49f; }
#footer-widgets .widget h3, .widget_woo_flickr a:hover img  { border-color: #d3a669; }
#footer-widgets .widget a:link, #footer-widgets .widget a:visited  { color: #d3a669!important; }
.widget_woo_flickr a img, #comments .comment .comment-container, .widget ul li, #older-posts li, #tabs .inside li, .pinglist li  { border-color: #e0c49f; }

#tabs ul.wooTabs li a  { background-color: #ecddc9; }

#commentform textarea  { background-color: #fff; }