/* Purple Minimal Colors */

a:link, a:visited, .nocomments  { color: #a000e2; }

#main-nav a:hover, #main-nav li.current-cat a, #main-nav li.current-cat a, #main-nav a:hover, #main-nav li.current_page_item a, #main-nav li.current_page_parent a  { border-bottom-color: #a000e2; }

.nav-entries a, .post-entries a, .wp-pagenavi span.extend, .wp-pagenavi span.pages, .widget_recent_comments li a, .widget_woo_twitter a, .widget_tag_cloud div a, #tabs .inside #tab-tags a:hover { color:#a000e2!important; }
.widget h3, #tabs ul.wooTabs li a.selected, #tabs ul.wooTabs li a:hover, #tabs .inside  { background-color: #c279e1; }
.wp-pagenavi .current, .wp-pagenavi .on, .wp-pagenavi a:hover  { background: #c279e1!important; }
.widget_woo_flickr a:hover img  { border-color: #c279e1; }

.widget h3 span  { background-image: url(purple/bg-widget-h3.png); }